

body{
    font-family: 'Kanit', sans-serif;
}
.heading
{
    text-align: center;
    /* background-color: rgb(23, 110, 186); */
    /* background-color: #30A2FF; */
    background-color: #333;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    padding: 25px 0;
    font-family: 'Pathway Extreme', sans-serif;
    /* margin-bottom: 50px; */

}
.personal-heading,.professional-heading
{
    text-align: center;
    margin: 40px 0 40px;
  
    
}
.block-btn{
    width:100%;
}
.link-button:hover,.lang-button:hover,.skill-button:hover
{
    color:blue;
}
/*#cv-form
{
    display: none;
}
*/