body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .container {
   
    margin: 0 auto;
    padding: 20px;
    height: 100%;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 80px 0;
  }
  
  h1 {
    font-size: 36px;
    margin: 0;
  }
  
  p {
    font-size: 18px;
    margin: 10px 0 0;
  }
  
  .btn {
    background-color: #333;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .btn:hover {
    background-color: #666;
  }
  
  section {
    padding: 80px 0;
    text-align: center;
  }
  .icon
  {
    border-radius: 100%;
  }
  
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
  
  .feature {
    width: 300px;
    margin: 20px;
  }
  
  .feature img {
    width: 60px;
    height: 60px;
  }
  
  .feature h3 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .feature p {
    font-size: 16px;
    margin: 0;
  }
  
  footer {
    background-color: #333;
    color:#fff;
   
  
  }
  .footer
  {
    text-align: center;
  }