
#cv-template
{
    display: none;
    
}
.myimg
{
   text-align: center;
   /* position: relative;
   left:100px; */
   margin-bottom:20px;
    border-radius: 50%;
    width:100px;
    height:100px;

    display: block;
  margin-left: auto;
  margin-right: auto;
 
}

.name
{
    font-weight: 980;
}

.second-col
{
    padding: 0
}
.heading-icon
{
    font-size: 20px;
    margin-right: 10px;
    
}
.item-heading
{
    font-size: 20px;
   
    font-weight: 700;
    font-family: "mouse-500", Arial, Helvetica, sans-serif;
}
#aboutT,#weT,#aqT,#skillT,#proT
{
    
    font-size: 20px;
    font-family: 'Dosis', sans-serif;

}
#aboutT,#weT,#aqT,#skillT,#proT,#proT,#addressT
{
    word-break: break-all;
    white-space: normal;  
}

@media only screen and (max-width:600px) {
    .myimg
    {
        width:100px;
    }
      
}












.background
{
    background-color: #ffd9c0b7;
}
.background2
{
    background-color: #ffd9c033;
}
.phoneInfo,.mailInfo,.adressInfo
{
    text-align: center;
    margin: 10px 0;
}
#contactT,#mailT,#addressT
{
    font-size: 15px;
     
}
#nameT1
{
    border: 1px solid black;
    padding: 20px 0;
    width:60%;
    
    margin:  auto;
    margin-bottom:50px;
}
