
#cv-template
{
    display: none;
    
}
.myimg
{
   text-align: center;
   /* position: relative;
   left:100px; */
   margin-bottom:20px;
    border-radius: 50%;
    width:200px;
    height:200px;

    display: block;
  margin-left: auto;
  margin-right: auto;
 
}
.background
{
    background-color: #00AB9F;
    -webkit-print-color-adjust: exact;
}
.name
{
    font-weight: 980;
}
.personal-blog
{
    color:#fff;
}
.second-col
{
    padding: 0
}
.heading-icon
{
    font-size: 20px;
    margin-right: 10px;
    color: #6a6a6a;
}
.item-heading
{
    font-size: 20px;
    color: #6a6a6a;
    font-weight: 700;
    font-family: "mouse-500", Arial, Helvetica, sans-serif;
}
#objectiveT,#weT,#aqT,#skillT
{
    color: #6a6a6a;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;

}
#objectiveT,#weT,#aqT,#skillT,#links-here,#addressT
{
    word-break: break-all;
    white-space: normal;
   

    
}
@media only screen and (max-width:600px) {
    .myimg
    {
        width:100px;
    }
    
}
