#cv-template
{
    display: none;
    
}

.myimg
{
   text-align: center;
   /* position: relative;
   left:100px; */
   margin-bottom:20px;
    border :10px solid rgba(0, 0, 0, 0.807);
    width:200px;
    height:200px;

    display: block;
  margin-left: auto;
  margin-right: auto;
 
}
.background
{
    background-color: #B2B2B2;
}
#nameT1
{
    background-color: #B2B2B2;
    padding:60px;
}

.name
{
    font-weight: 980;
}

.second-col
{
    padding: 0 0;
}
.heading-icon
{
    font-size: 20px;
    margin-right: 10px;
    
}
.item-heading
{
    font-size: 20px;
    
    font-weight: 700;
    font-family: "mouse-500", Arial, Helvetica, sans-serif;
}
#objectiveT,#weT,#aqT,#skillT
{
    
    font-size: 20px;
    font-family: 'Dosis', sans-serif;

}
#objectiveT,#weT,#aqT,#skillT,#links-here,#addressT
{
    word-break: break-all;
    white-space: normal;
   

    
}
@media only screen and (max-width:600px) {
    .myimg
    {
        width:100px;
    }
   
    
}
